services:
  db:
    image: postgres:16
    container_name: db-node
    environment: 
      POSTGRES_USER: enroll_user
      POSTGRES_PASSWORD: enroll_pass
      POSTGRES_DB: enroll_db
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - enroll-net

  auth-service:
    build: ./services/auth
    container_name: auth-service
    environment:
      GRPC_PORT: 4000
      DB_HOST: db
      DB_USER: enroll_user
      DB_PASSWORD: enroll_pass
      DB_NAME: enroll_db
      JWT_SECRET: supersecretpassword
    depends_on:
      - db
    ports: 
      - "4000:4000"
    networks:
      - enroll-net

  course-service:
    build: ./services/course
    container_name: course-service
    environment:
      GRPC_PORT: 5000
      DB_HOST: db
      DB_USER: enroll_user
      DB_PASSWORD: enroll_pass
      DB_NAME: enroll_db
    depends_on:
      - db
    ports: 
      - "5000:5000"
    networks:
      - enroll-net

  enrollment-service:
    build: ./services/enrollment
    container_name: enrollment-service
    environment:
      GRPC_PORT: 6000
      DB_HOST: db
      DB_USER: enroll_user
      DB_PASSWORD: enroll_pass
      DB_NAME: enroll_db
      AUTH_GRPC_ADDR: auth-service:4000
      COURSE_GRPC_ADDR: course-service:5000
    depends_on:
      - db
      - auth-service
      - course-service
    ports: 
      - "6000:6000"
    networks:
      - enroll-net

  grades-service:
    build: ./services/grades
    container_name: grades-service
    environment:
      PORT: 7000
      DB_HOST: db
      DB_USER: enroll_user
      DB_PASSWORD: enroll_pass
      DB_NAME: enroll_db
      AUTH_GRPC_ADDR: auth-service:4000
    depends_on:
      - db
    ports: 
      - "7000:7000"
    networks:
      - enroll-net

  frontend:
    build: ./frontend
    container_name: view-node
    environment:
      AUTH_GRPC_ADDR: auth-service:4000
      COURSE_GRPC_ADDR: course-service:5000
      ENROLL_GRPC_ADDR: enrollment-service:6000
      GRADES_URL: grades-service:7000
    depends_on:
      - auth-service
      - course-service
      - enrollment-service
      - grades-service
    ports:
      - "3000:3000"
    networks:
      - enroll-net

networks:
  enroll-net:
    driver: bridge
